.reactor-header {
  font-size: 3rem;
  font-weight: 100;
  text-align: center;
}

.post-title {
  font-size: 2.5rem;
  font-weight: 100;
  margin-bottom: 0;
}

.post-description {
  font-size: 1.25rem;
  font-style: italic;
}
