$link-color: #fff;
$navigation-background: #0f0f0f;

.navigation {
  align-items: center;
  background: $navigation-background;
  display: flex;
  height: 3rem;
  margin: 0;
  padding: 0 .5rem;
  position: relative;

  &-list {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }

  &-brand {
    color: $link-color;
    font-size: 1.25rem;
    font-weight: 100;
    padding: .5rem;
  }
}

.list-item {
  display: inline-block;
  padding: .5rem;
}

.link {
  color: $link-color;
  text-decoration: none;
}

.content-body {
  padding: 1rem;
}
