$primary-color: #fff;
$container-background: #1f1f1f;

$inline-code-background: #333;
$inline-code-color: rgba(255, 255, 255, .5);

html,
body {
  background: $container-background;
  color: $primary-color;
  font-family: Helvetica Neue, sans-serif;
  font-weight: 200;
  height: 100%;
}

.container {
  height: 100%;
}

code {
  background: $inline-code-background;
  color: $inline-code-color;
  font-size: 1.1rem;
}

@import './prism';
@import '../components/Base/index';
@import '../containers/Contact/index';
@import '../containers/Home/index';
